#paymentPopup-body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#paymentPopup-body .popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 350px;
    width: 100%;
    text-align: center;
}

#paymentPopup-body .popup-header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-family: 'Helvetica', sans-serif;
    position: relative;
}

#paymentPopup-body .popup-body {
    margin: 20px 0;
    text-align: center;
}

#paymentPopup-body b{
    font-size: 14px;
}

#paymentPopup-body .popup-body p {
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
}

#paymentPopup-body .popup-footer {
    display: flex;
    justify-content: space-around;
}

#paymentPopup-body .back-btn,
#paymentPopup-body .delete-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#paymentPopup-body .back-btn {
    background-color: #000;
    color: #fff;
    font-size: 14px;
}

#paymentPopup-body .pay-btn {
    background-color: rgb(35, 102, 245);
    color: white;
    font-size: 14px;
}

