#booking-detail {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 200px;
}


#booking-detail .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
}

#booking-detail .container h1 {
    margin-bottom: 100px;
    font-size: 28px;
    font-weight: 300;
}

#booking-detail .container .room-detail {
    display: flex;
    border: 1px solid #000;
    border-radius: 15px;
    width: 90%;
    height: 200px;
    margin-bottom: 100px;
}

#booking-detail .room-detail img {
    width: 300px;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
    flex: 1;
}

#booking-detail .room-detail .room-info {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    flex: 2 1;
    justify-content: center;
    gap: 25px;
    align-items: flex-start;
}

#booking-detail .room-info h3 {
    font-weight: 700;
}

#booking-detail .room-info p {
    font-family: 'Helvetica', sans-serif;
    font-size: 17px;
}


#booking-detail .info-group {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 40px;
    width: 80%;
}

#booking-detail .info-item {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

#booking-detail .label {
    font-weight: bold;
    flex: 1;
    font-family: 'Helvetica', sans-serif;
}

#booking-detail .value {
    text-align: left;
    flex: 2;
    font-family: 'Helvetica', sans-serif;
}

#booking-detail hr {
    width: 90%;
    border: 1px solid #000;
    margin-bottom: 40px;
}

#booking-detail .btn-container button {
    background-color: #000;
    color: #fff;
    width: 200px;
    height: 52px;
}