#confirm-booking {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

#confirm-booking .title {
    font-size: 24px;
    font-family: 'TAN - MON CHERI', sans-serif;
    margin-bottom: 30px;
    font-weight: 400;
}

#confirm-booking .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 950px;
}

#confirm-booking .info-group {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 40px;
    width: 80%;
}

#confirm-booking .info-item {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

#confirm-booking .label {
    font-weight: bold;
    flex: 1;
    font-family: 'Helvetica', sans-serif;
}

#confirm-booking .value {
    text-align: left;
    flex: 2;
    font-family: 'Helvetica', sans-serif;
}

#confirm-booking hr {
    width: 90%;
    border: 1px solid #000;
    margin-bottom: 40px;
}

#confirm-booking .info-item .input-container {
    flex: 2;
}

#confirm-booking .input-container > input {
    width: 250px;
    height: 40px;
    border-radius: 24px;
    outline: none;
    border: 1px solid #000;
    padding: 7px;
    font-size: 20px;
    font-family: 'Helvetica';
}

#confirm-booking .checkout-container {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    width: 100%;
    border: 2px solid #000;
    padding: 10px;
}

#confirm-booking .checkout-container .info-checkout-item {
    display: flex;
    justify-content: center;
    gap: 80px;
    align-items: center;
    font-family: 'Helvetica', sans-serif;
    margin-left: 40px;
}

#confirm-booking .checkout-container .checkout-label {
    font-weight: bold;
    font-size: 20px;
}

#confirm-booking .checkout-container button {
    background: #000;
    margin: 0;
    height: 60px;
    color: #fff;
    width: 155px;
}

#confirm-booking .checkout-container {
    margin-bottom: 40px;
}