.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Màu nền mờ */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-overlay .popup-content {
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    font-family: 'Helvetica', sans-serif;
}

.popup-overlay .popup-content i {
    font-size: 25px;
    margin: 10px 0;
}

.popup-overlay .popup-content > b {
    font-size: 20px;
}

.popup-overlay .popup-content > p {
    margin: 20px 0;
}

.popup-overlay .popup-btn-container {
    display: flex;
    justify-content: center;
    gap: 35px;
}

.popup-overlay .popup-btn-container button {
    width: 135px;
    background-color: #000;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.popup-overlay .popup-btn-container .popup-delete-btn {
    background-color: #000;
}

.popup-overlay .popup-btn-container .popup-cancel-btn {
    background-color: #000;
}
