header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    z-index: 10;
    /* transition: background-color 0.3s ease; */
    background-color: rgba(0, 0, 0, 0.5);
    height: 85px;
}

/* header.scrolled {
    background-color: rgba(0, 0, 0, 0.5);
} */

.logo img {
    width: 85px;
    height: auto;
    margin-left: 20px;
}

.nav {
    display: inherit;
    list-style: none;
    gap: 120px;
    padding: 0;
}

.nav li {
    display: block;
    padding: 5px 13px;
    position: relative;
}

.nav li a {
    text-decoration: none;
    color: #fff;
    font-size: 10px;
}

.nav li::after {
    content: ''; /* Tạo một phần tử giả */
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0; /* Đặt border-bottom ở dưới cùng */
    height: 1px; /* Độ dày của border */
    background-color: #fff; /* Màu sắc của border */
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav li:hover::after {
    transform: scaleX(1); /* Hiện border khi hover */
}

