#poster {
    margin-top: 0;
    position: relative;
    height: 500px;
    background: url('../assets/poster.jpg') center / cover no-repeat ;
    margin-bottom: 100px;
}

/* Thêm lớp tối */
#poster::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Màu đen với độ trong suốt 50% */
    z-index: 1; /* Đảm bảo lớp tối nằm trên background nhưng dưới nội dung */
}

#poster .container {
    padding-top: 130px;
    text-align: left;
    z-index: 2;
    position: relative;
    padding-left: 50px;
}

.content {
}

.content h1 {
    font-size: 30px;
    color: #fff;
    font-weight: 300;
    padding: 30px 0 20px 0;

}

.content p {
    font-size: 25px;
    font-family: 'BTSuave Regular', sans-serif;
    color: #fff;
    font-weight: 300;
    padding-bottom: 70px;
}

#poster .booking-btn {
    margin-bottom: 120px;
    width: 150px;
    height: 50px;
    background: none;
    color: #fff;
    border: 1px solid #fff;
    font-weight: 300;
    font-family: 'TAN - MON CHERI', sans-serif;
    font-size: 13px;
    cursor: pointer;
}

#poster .booking-section {
    position: relative;
    bottom: 12%;
    z-index: 4;
    display: flex;
    justify-content: center;
}

#poster .booking-section ul {
    display: flex;
    width: 680px;
    height: 83px;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 10px 10px 50px 5px #00000040;
}

#poster .booking-section ul > li {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    flex-direction: column;
    padding: 10px;
    text-align: left;
    border-right: 2px solid;
    outline: none;
    font-family: Helvetica,sans-serif;
    font-weight: bold;
    font-size: 14px;
    row-gap: 7px;
}

#poster .booking-section li > input {
    border: none;
    outline-color: #fff;
    font-size: 16px;
}

#poster .booking-section li:last-child > input {
    width: 100px;
}

#poster .booking-section button {
    width: 180px;
    height: 54px;
    border: none;
    background-color:#110C09;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
}

#about-us {
    height: 400px;
    background-color:#BCA992;
}

#about-us > .about-container {
    display: flex;
    gap: 20px;
}

#about-us > .about-container .about-content {
    display: flex;
    flex-direction: column;
    padding-left: 70px;
    padding-top: 30px;
}

#about-us .about-content p {
    text-align: left;
    font-family: 'Helvetica', sans-serif ;
    font-size: 15px;
    padding-top: 30px;
    line-height: 2;
    font-weight: 500;
}

#about-us .about-content-header {
    display: flex;
    align-items: center;
}

#about-us .about-content-header h1 {
    font-size: 20px;
    padding-top:20px;
}

#about-us .about-content-header img {
    width: 200px;
    height: auto;
    padding-top: 20px;
    transform: translate(10px, -3px);
}

#about-us .about-container > img {
    width: 500px;
    height: 350px;
    margin-right: 40px;
    margin-left:70px;
    transform: translateY(30px);
    margin-left: 40px;
    box-shadow: 10px 10px 50px 10px #00000040;
}

#our-story {
    height: 500px;
    background: url('../assets/ourstory.png');
    background-position-y: 90%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 250px 0;
    overflow: hidden;
    transition: height 0.5s ease-in-out; /* Hiệu ứng chuyển đổi */
    position: relative;
}

#our-story.fullscreen {
    height: 100vh;
    z-index: 2000;
}


#our-story .our-story-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 70px;
    align-items: center;
}

#our-story .our-story-container h1 {
    color: #fff;
    font-family: 'BTSuave Regular', sans-serif;
    font-weight: 100;
}

#our-story .our-story-container p {
    font-family: 'Helvetica', sans-serif;
    color: #fff;
    text-align: left;
    padding: 0 140px;
    line-height: 2.2;
   
}

#intro {
    width: 1000px;
    height: 400px;
    background-color: #BCA992;
    margin: 0 auto 500px auto;
    position: relative;
}

#intro .intro-content {
    position: absolute;
    left: 70px;
    top: 50px;
}

#intro .intro-content p{
    color: #fff;
    font-family: 'BTSuave Regular', sans-serif;
    font-size: 25px;
    text-align: left;
    font-weight: 200;
}



#intro .intro-content img {
    width: 300px;
    position: absolute;
    left: 240px;
}

#intro .datphong1 {
    width: 250px;
    position: absolute;
    bottom: -22%;
    position: absolute;
    right: 200px;
}

#intro .datphong2 {
    width: 300px;
    height: auto;
    position: absolute;
    bottom: 50px;
    right: -50px;
}